const dbScheme = 'mongodb+srv';
const dbHost = '';
const dbName = 'pwshare';
const dbParams = '?retryWrites=true&w=majority';
const dbPassword = '';
const dbUsername = '';

module.exports = {
	dbHost,
	dbName,
	dbParams,
	dbPassword,
	dbScheme,
	dbUsername,
};
